Repository vitellaryjr/smods, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Aurelius7309, @Eremel, @WilsontheWolf, @GauntletGames-2086

Fixes #984
  lovely/scoring_calculation.toml
  version.lua
Owners: @Aurelius7309, @Eremel

slight change to score_container signature
  lsp_def/ui.lua
  src/ui.lua
Owners: @GauntletGames-2086, @Aurelius7309, @Eremel

Temporary fix for orphaned text
  lovely/center.toml
Owners: @Aurelius7309, @Eremel

version bump
  version.lua
Owners: @Aurelius7309, @Eremel

No more orphaned text, but effectively reverts PR #839 for now
  lovely/ui.toml
  version.lua
Owners: @Aurelius7309, @Eremel

Remove is_info_queue variable, it's unnecessary
  lovely/center.toml
  lovely/fixes.toml
  lovely/multi_box_descriptions.toml
  lovely/ui.toml
  src/game_object.lua
Owners: @Aurelius7309, @Eremel

Actually enable name styling
  lovely/center.toml
  lovely/ui.toml
Owners: @Aurelius7309, @Eremel

Fix orphaned text when Lucky Card is in tooltip; support for name styling maintained
  lovely/center.toml
  lovely/ui.toml
Owners: @Aurelius7309, @Eremel

version
  version.lua
Owners: @Aurelius7309, @Eremel

Fix info_queue Dynatext appearing in the top left of the screen (#1009)
  lovely/ui.toml
Owners: @Aurelius7309, @Eremel

New util: SMODS.challenge_is_unlocked
  lsp_def/classes/challenge.lua
  lsp_def/utils.lua
  src/utils.lua
Owners: @GauntletGames-2086, @Aurelius7309, @Eremel

Use SMODS.challenge_is_unlocked()
  lovely/challenge.toml
Owners: @Aurelius7309, @Eremel

version
  version.lua
Owners: @Aurelius7309, @Eremel

Fix incorrect position in set_sprites
  src/overrides.lua
  version.lua
Owners: @Aurelius7309, @Eremel

fix: mod ui icons not being consistant size
  src/ui.lua
  version.lua
Owners: @Aurelius7309, @Eremel

Fixes #1008
  src/overrides.lua
  version.lua
Owners: @Aurelius7309, @Eremel

Expanded select_card arg (#892)
  lovely/booster.toml
  lovely/center.toml
  src/utils.lua
Owners: @Aurelius7309, @Eremel

feat: add custom draw functions for dynatexteffect (#995)
  lovely/text_effect.toml
  lsp_def/classes/dynatexteffect.lua
  src/game_object.lua
Owners: @Aurelius7309, @Eremel, @GauntletGames-2086

Version update
  release.lua
  version.lua
Owners: @Aurelius7309, @Eremel

shhhh smuggle
  release.lua
  src/utils.lua
  version.lua
Owners: @Aurelius7309, @Eremel

Fixes conflict between the two patch files
  lovely/joker_retriggers.toml
  lovely/scaling.toml
Owners: @Aurelius7309, @Eremel

minor: stop some lovely warnings
  lovely/scoring_calculation.toml
Owners: @Aurelius7309, @Eremel

Reorder calculation keys so extra tables are handled after other values
  src/utils.lua
  version.lua
Owners: @Aurelius7309, @Eremel

Correct check_for_unlock(type = 'min_hand_size')
  lovely/card_limit.toml
  src/utils.lua
Owners: @Aurelius7309, @Eremel

Fix Orbital Tag missing poker hand, expand `add_tag` function (#1007)
  lovely/tag.toml
  src/overrides.lua
Owners: @Aurelius7309, @Eremel

version
  version.lua
Owners: @Aurelius7309, @Eremel

Fix a small error with omit flag
  src/game_object.lua
Owners: @Aurelius7309, @Eremel

prevent modded souls from unfairly eating into each other's probability due to ordering
  lovely/center.toml
  version.lua
Owners: @Aurelius7309, @Eremel

Update SMODS.debuff_card doc
  lsp_def/utils.lua
Owners: @GauntletGames-2086

Fix crash, again: commit 26c5d44 had wrong parentheses
  src/overrides.lua
  version.lua
Owners: @Aurelius7309, @Eremel

Improvements to `card_limit` and `extra_slots_used` functionality
  localization/en-us.lua
  lovely/card_limit.toml
  lovely/enhancement.toml
  lovely/fixes.toml
  lovely/seal.toml
  src/game_object.lua
  src/overrides.lua
  src/utils.lua
  version.lua
Owners: @Aurelius7309, @Eremel

Fix SMODS.debuff_card functionality
  src/utils.lua
Owners: @Aurelius7309, @Eremel

Deprecate SMODS.debuff_card(card, 'reset', source).
  src/utils.lua
  version.lua
Owners: @Aurelius7309, @Eremel

Fix #1042
  src/game_object.lua
  version.lua
Owners: @Aurelius7309, @Eremel

Fix #1041
  lovely/card_limit.toml
  src/utils.lua
  version.lua
Owners: @Aurelius7309, @Eremel

Missed reload functionality (:
  lovely/card_limit.toml
  version.lua
Owners: @Aurelius7309, @Eremel

Fix #1043
  src/game_object.lua
  src/utils.lua
  version.lua
Owners: @Aurelius7309, @Eremel

Stop sticker crash
  src/game_object.lua
  version.lua
Owners: @Aurelius7309, @Eremel

Fix shop areas not resizing properly, #1044
  src/utils.lua
  version.lua
Owners: @Aurelius7309, @Eremel

Addresses #1034, timing for Wee Joker should be fixed, any jokers that would retrigger prior to `SMODS.scale_card` being implemented should now retrigger again
  lovely/scaling.toml
  version.lua
Owners: @Aurelius7309, @Eremel

.github/CODEOWNERS:

* @Aurelius7309 @Eremel

src/crash_handler.lua @WilsontheWolf
libs/https/ @WilsontheWolf
lovely/crash_handler.toml @WilsontheWolf
lovely/libs.toml @WilsontheWolf
lsp_def/ @GauntletGames-2086
